@using Microsoft.AspNetCore.Http;
@using Microsoft.EntityFrameworkCore;
@using Office.Models;
@model List<Todo>;

<div class="row">
    <div class="col-2">
        @if(Model.Count<1){
            <img src="~/Images/done.png" alt="No Work" class="img-fluid">
        }
        @if(Model.Count<5&Model.Count>0){
            <img src="~/Images/wfh.png" alt="Low Work" class="img-fluid">
        }
        @if(Model.Count>=5&Model.Count<10){
            <img src="~/Images/busy.png" alt="More Work" class="img-fluid">
        }
        @if(Model.Count>9){
            <img src="~/Images/toomuch.png" alt="Lots Work" class="img-fluid">
        }
    </div>
    <div class="col-8">
        <h2>Tasks yet to be completed</h2>
        <table class="table-striped table-bordered text-center table-responsive">
            <thead class="text-center">
                <th>  Activity  </th>
                <th>  Due Date  </th>
                <th> Due Time</th>
                <th>  Difficulty  </th>
                <th>  Task Creator  </th>
                <th>  No. of Supporters  </th>
                @if(ViewBag.User!=null){
                    <th>Actions</th>
                }
            </thead>
            <tbody>
                @foreach (var activity in Model)
                {
                    <tr>
                        <td><a href="/Todo/@activity.TodoId">@activity.Title</a></td>
                        @if(activity.DueDate<DateTime.Now){
                            <td class="bg-danger">@activity.DueDate.ToShortDateString()</td>
                            <td class="bg-danger">@activity.DueDate.ToShortTimeString()</td>
                        }
                        else{
                            <td>@activity.DueDate.ToShortDateString()</td>
                            <td>@activity.DueDate.ToShortTimeString()</td>
                        }
                        @if(activity.Difficulty>4){
                            <td class="bg-danger">@activity.Difficulty</td>
                        }
                        @if(activity.Difficulty>2&activity.Difficulty<5){
                            <td class="bg-warning">@activity.Difficulty</td>
                        }
                        else{
                            <td class="bg-success">@activity.Difficulty</td>
                        }
                        
                        <td>@activity.Giver.FirstName @activity.Giver.LastName</td>
                        <td>@activity.Supporters.Count</td>
                        @if(ViewBag.User!=null){
                            <td>
                                <form action="/rsvp" method="POST">
                                    <input type="hidden" name="UserId" value="@ViewBag.User.UserId">
                                    <input type="hidden" name="TodoId" value="@activity.TodoId">
                                    @if(ViewBag.User.UserId==1){
                                        <input type="submit" value="Complete" class="btn btn-danger">
                                    }
                                    else{
                                        if(activity.Supporters.Any(a=>a.UserId==ViewBag.User.UserId))
                                        {
                                            <input type="submit" value="Remove Support" class="btn btn-primary">
                                        }
                                        else{
                                            <input type="submit" value="Support" class="btn btn-primary">
                                        }
                                    }
                                </form>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn float-right btn-primary" href="/Todoform">Add a Task!</a>
    </div>
    <div class="col-2">
        @if(Model.Any(e=>e.Title.Contains("Eat"))){
            <img src="~/Images/eat.png" alt="eat" class="img-fluid">
        }
        @if(Model.Any(e=>e.Title.Contains("offee"))){
            <img src="~/Images/coffee.png" alt="coffee" class="img-fluid">
        }
    </div>
</div>