@model Todo

<div class="container-fluid">
    <div class="row">
        <h1>@Model.Title</h1>
    </div>
    <h3>Task Giver: @ViewBag.Giver.FirstName @ViewBag.Giver.LastName</h2>
    <h4>Due Date: @Model.DueDate GMT</h3>
    <h6>Description:</h3>
    <p>@Model.Description</p>
    @if(ViewBag.User!=null){
        <form action="/rsvpdetails" method="POST">
            <input type="hidden" name="UserId" value="@ViewBag.User.UserId">
            <input type="hidden" name="TodoId" value="@Model.TodoId">
            @if(ViewBag.User.UserId==1){
                <input type="submit" value="Complete" class="btn btn-danger">
            }
        </form>
    }
</div>